################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Authentication/v16
/Auth.Core/obj
obj
bin
debug
