@model List<WeatherData>
@{
    ViewData["Title"] = "Weather";
}

<h1>Weather</h1>

<table>
    @foreach(var item in Model)
            {
    <tr>
        <td>@item.Date</td>
        <td>@item.Summary</td>
        <td>@item.TemperatrueC</td>
        <td>@item.TemperatureF</td>
    </tr>
            }
</table>